.mainchat
  .mainchat__groupinfo
    .mainchat__groupinfo--left
      .mainchat__groupinfo--left--top{"data-group-index": @group.id} 
        =@group.name
      .mainchat__groupinfo--left--bottom 
        Member:
        - @group.users.each do |user|
          =user.name
    .mainchat__groupinfo--right  
      .mainchat__groupinfo--right--in
        = link_to edit_group_path(@group), class: "mainchat__btn" do 
          Edit

  .mainchat__messagelist
    = render @messages
    
  .form
    = form_with model: [@group, @message], html: {class: "form_all"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__formtypein', placeholder: 'type a message'
        = f.label :image, class: 'input-box__iconimage' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__iconimage--fileimage'
      = f.submit 'Send', class: 'formbtn'