.sidebar 
  .sidebar__username
    .sidebar__username--item
      %h3.sidebar__username--item--username
        = current_user.name
      .sidebar__username--item--left masa
      .sidebar__username--item--right 
        = link_to new_group_path, class: "sidebar__btn--editing" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "sidebar__btn--setting" do
          = icon('fas', 'cog')


  .sidebar__grouplist
    - current_user.groups.each do |group|
      .sidebar__grouplist--item
        = link_to group_messages_path(group) do
          .sidebar__grouplist--item--groupname
            = group.name
          .sidebar__grouplist--item--message 
            = group.show_last_message